@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #141414;
  color: white;
}

body a {
  color: white;
  text-decoration: none;
}

body a:hover {
  color: #9B5DE5;
}

.movie {
  position: relative;
  transition: tranform 0.2s;
}

.movie img {
  width: 200px;
  height: 270px;
}

.movie p,
.movie a {
  margin: 10px 0;
}

.movie-list-info {
    margin-left: 30px;
}

.movie p.description {
  max-height: 120px;
  overflow: hidden;
}

.fav-movies-list {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.fav-movies-list h4,
.fav-movies-list p,
.fav-movies-list a.official-link,
.fav-movies-list span {
  display: none;
}

.fav-movies-list .movie:hover img,
.movie:hover a img {
  cursor: pointer;
}

.movie-details .fav-movies-list .movie:hover img,
.movie-details .movie:hover a img{
  cursor: default;
}

/* .movie:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
} */

.movie:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.fav-movies-list .movie:hover,
.movie-details .movie:hover {
  transform: scale(1);
  border-radius: 0;
  background-color: transparent;
}

/* .fav-movies-list .movie:hover {
    background-color: transparent;
} */

.movie:hover .overlay {
  opacity: 1;
}

.movie .overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  width: 202px;
  transition: 0.5s ease;
  opacity: 0;
  left: -1px;
  bottom: -1px;
}

.movies .btn-outline-success {
    margin-top: 15px;
}

.movies .btn-outline-success svg {
  margin-left: 10px;
}

.fav-movies-list .btn svg {
    margin: auto;
}

.movies .btn-outline-success:hover svg {
  fill: red;
}

.movie-details .hero-section {
  display: none;
}

input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

@media screen and (max-width: 992px) {
    .movie-list-info {
        margin-left: 0;
    }

    .search .movies .movie {
        text-align: center;
    }

    .movie:hover {
        border-radius: 20px;
    }
}

@media screen and (min-width: 768px) {
  .movie-list-info {
    text-align: left;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search .movie,
  .movie-details .movie {
    text-align: center;
  }
}

.headline {
  left: 130px;
}

.headline h1 span {
  color: #9B5DE5;
}

.headline p {
  margin-bottom: 30px;
}

.headline a {
  padding: 15px 40px;
  border-radius: 30px;
  border: 1px solid #9B5DE5;
  color: white;
}

.headline a:hover {
  background-color: #9B5DE5;
  color: white;
}

.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
  min-height: 400px;
  background-image: url(https://www.penguin.co.uk/content/dam/prh/articles/adults/2021/september/2021_filmdaptations-main-image-1800x1200.jpg);
  /*background-image: url(https://www.prolifics.co.uk/wp-content/uploads/2021/11/ITManagedServices.jpg);*/
  /*background-image: url("https://cdn.vox-cdn.com/thumbor/ipkbn5z2BRNzJMBZ93UVo26pX78=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22414721/Streaming_Services_v3.jpg");*/
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  }

  .clipped {
    clip-path: none;
    /* max-height: 300px !important; */
  }
}